* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(221, 221, 221);
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    background-color: #0f0f0f;
    font-family: sans-serif;
    min-height: 100vh;
    user-select: none;
}

.sidebar {
    width: 500px;
    background-color: #161616;
    border-right: 1px solid #333;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #555 #1e1e1e;
    position: relative;
    z-index: 15;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.2s;
}

.sidebar.collapsed {
    width: 0;
    padding: 0;
}

.sidebar.collapsed *:not(.toggleSidebar) {
    visibility: hidden
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.toggleSidebar {
    position: fixed;
    top: 0;
    left: 442px;
    font-size: 30px;
    background-color: rgb(55, 55, 255);
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.2s;
}

.toggleSidebar:hover {
    background-color: rgba(55, 55, 255, 0.695);
}

main {
    flex: 1;
    background-color: #202020;
    position: relative;
}

.locations-title,
.shrines-title,
.loots-title {
    font-weight: bold;
    margin: 20px 0 10px;
    font-size: 18px;
    border-bottom: 1px solid #333;
    padding-bottom: 4px;
}

.locations-list,
.shrines-list,
.loots-list {
    margin: 0;
    padding: 0 0 10px 10px;
    columns: 2;
}

.locations-list {
    list-style: decimal inside;
}

.shrines-list,
.loots-list {
    list-style: none;
}

.locations-list-item,
.shrines-list-item,
.loots-list-item {
    font-size: 16px;
    margin-bottom: 6px;
    white-space: normal;
    overflow-wrap: break-word;
}

.shrines-list-item,
.loots-list-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.shrines-list-item::before {
    content: '〇';
    font-size: 20px;
    color: blue;
}

.shrines-list-item:nth-child(2)::before {
    color: red;
}

.shrines-list-item:nth-child(3)::before {
    color: gray;
}

.shrines-list-item:nth-child(4)::before {
    color: white;
}

.shrines-list-item:nth-child(5)::before {
    color: green;
}

.loots-list-item::before {
    content: '◇';
    font-size: 20px;
    color: gold;
}

.loots-list-item:nth-child(2)::before {
    content: '☆';
}

.loots-list-item:nth-child(3)::before {
    content: '𓏚';
}

.loots-list-item:nth-child(4)::before {
    content: '✧';
}

.shrines-list-item:hover,
.loots-list-item:hover {
    color: rgb(134, 134, 134);
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-inner {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0;
    transform: translate(0px, 0px) scale(1);
}

.map-img,
.map-grid {
    width: 500px;
    height: 500px;
    height: auto;
    user-select: none;
    -webkit-user-drag: none;
}

.map-img {
    z-index: 2;
}

.map-grid {
    width: 500px;
    height: 500px;
    z-index: 1;
    display: none;
}

.map-marker {
    position: absolute;
    width: fit-content;
    height: 40px;
    transform: translateX(-50% -50%);
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.458);
    color: white;

    display: inline-block;
    max-width: 110px;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    display: flex;
    align-items: center;
    text-align: center;
}